html{
    background-color: #095A49;
}

body{
    background-image: linear-gradient(#095A49, #108769);;
    font-family: Futura, serif;
}

/*.navbar-nav{*/
/*    text-align: left;*/
/*}*/

nav {
    margin-top: 1.5em;
    background-color: #095A49;
}

.container-fluid{
    position: fixed;
    top: 0;
    background-color: #095A49;
    z-index: 1;
    width: 105%
}

.navbar-brand{
    color: #70E3A2;
    font-weight: bold;
    font-size: 35px;
}

.navbar-brand:hover{
    color: #ffb6c1;
}

.nav-link{
    color: #70E3A2;
}
.nav-link:hover{
    color: #ffb6c1;
}

.billboard{
    background-color: #108769;
    font-family: Futura, serif;
    margin: 2em;
    height: 650px;
}

.billboard-txt{
    position: absolute;
    margin-top: 15em;
    margin-left: 2em;
    color: #70E3A2;
    text-shadow: 2px 2px #095A49;
}


.container-products{
    padding-top: 2.55em;
}

.product-row-1{
    justify-content: space-evenly;
    margin-bottom: 2em;
}

.product-row-2{
    justify-content: space-evenly;
    margin-top: 2em;
    margin-bottom: 5em;
}

.card{
    background-color: #70E3A2;
}

.card:hover{
    transform: scale(1.10);
    z-index: 100;
    background-color: #70E3A2;
    border-style: solid;
    border-color: #ffb6c1;
    border-width: 5px;
}

footer{
    background-color: black;
    position: relative;
    bottom: 0;
    height: 150px;
    opacity: 50%;
}

.btn {
    border: solid black;
}

.crew {
    list-style: none;
    background-color: #108769;
    color: #70E3A2;
    margin: 2em;
}

#crew{
    text-align: center;
    color: #70E3A2;
    text-shadow: 2px 2px #095A49;

}

.crew li{
    padding-top: 2.5em;
    padding-bottom: 2.5em;
}





